@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Rubik;
    color: #f0f0f0;
}
body {
    background-color: rgb(37, 38, 39);
}
h1 {
    font-size: 5vmax;
    font-weight: bold;
    text-align: center;
    line-height: 1.5em;
}
p {
    font-size: 2vmax;
    font-weight: 300;
    line-height: 6vmin;
    text-align: left;
    padding: 0.5em;
}
button {
    width: fit-content;
    font-size: 3vmin;
    padding: 0.8em;
    background-color: rgb(30, 32, 34);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    flex-direction: unset;
    box-shadow: 0 0 15px -1px #2c2b2b;
    display: inline-flex;
}
hr {
    height: 0.1px;
    width: 70%;
    margin: auto;
    border: none;
    background-color: rgb(78, 80, 80);
}
footer {
    position: absolute;
    margin-top: auto;
    width: 100%;
    height: 80px;
    bottom: 0px;
}

.joke-body {
    height: fit-content;
    padding-top: 18vh;
}

.joke-container {
    width: 75vw;
    height: fit-content;
    margin: auto;
    background-color: rgb(69, 70, 71);
    border-radius: 8px;
    padding: 3vmin;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px -1px #1f1c1c;
}
.footer-text {
    display: block;
    text-align: center;
    padding: 8px;
    text-align: center;
    font-weight: 200;
    color: rgb(78, 80, 80);
}
.buttons {
    position: relative;
}
.New-joke {
    position: absolute;
    right: 0;
}

@media (max-width: 1000px) {
    .joke-body {
        padding-top: 25vmin;
    }
}

@media (max-width: 600px) {
    .joke-body {
        padding-top: 35vmax;
    }
}
